<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehicle Detection</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Vehicle Detection System</h1>
    <div>
        <button id="toggle-detection" style="color: rgb(253, 253, 253); font-size: 16px; padding: 10px 20px;">Stop Detection</button>
    </div>
    <div>
        <h2>Status:</h2>
        <h2 id="status" style="color: yellow;">Initializing...</h2>
    </div>
    <div>
        <h2>Captured Image:</h2>
        <div class="image-container">
            <img id="captured-image" src="/static/images/NoVehicleDetected.jpg" alt="No vehicle detected">
        </div>
    </div>
    <div>
        <h2>License Plate:</h2>
        <h2 id="license-plate" style="color: yellow;">No license plate detected</h2>
    </div>
    <div>
        <h2>Plate Status:</h2>
        <h2 id="plate-status" style="color: yellow;">Unknown</h2>
    </div>
    <div>
        <h2>Gate Status:</h2>
        <h2 id="gate-status" style="color: yellow;">Gate Closed</h2>
    </div>
    <script src="/static/script.js"></script>
</body>
</html>
